body {
    background: #888;
    font: 10px Arial;
}

#container {
    margin: 20px auto;
    position: relative;
    width: 230px;
}

/* Turn data */
.turn, #endturn {
    position: absolute;
    right: -110px;
    width: 100px;
}

.turn span {
    margin-left: 10px;
}

.turn.p0 {
    bottom: 0;
    color: #fff;
}

.turn.p1 {
    color: #000;
    top: 0;
}

#container.p1 .turn.p0,
#container.p0 .turn.p1 {
    opacity: .2;
}

#endturn {
    outline: none;
    top: 110px;
}

/* Board */
#board {
    border: 3px solid #ccc;
    height: 224px;
    position: relative;
    width: 224px;
}

/* Fields */
.field {
    background: #666;
    border: 1px solid #ccc;
    float: left;
    height: 30px;
    width: 30px;
}

/* Pieces */
.piece {
    height: 32px;
    position: absolute;
    width: 32px;
    z-index: 2;
}

.piece div {
    height: 22px;
    margin: 3px 0 0 3px;
    width: 22px;
}

.piece.p0 div { border: 2px solid #fff; }
.piece.p1 div { border: 2px solid #000; }

.piece.active div { border-color: #0af; }

#container.p0 .piece.p0,
#container.p1 .piece.p1,
.piece.helper { cursor: pointer; }

.piece.helper div { border: 2px solid #a50; }

/* Balls */
.ball {
    height: 32px;
    position: absolute;
    width: 32px;
    z-index: 1;
}

.ball div {
    border-radius: 9px;
    height: 14px;
    margin: 7px 0 0 7px;
    width: 14px;
}

.ball.p0 div { border: 2px solid #fff; }
.ball.p1 div { border: 2px solid #000; }

.ball.active div { border-color: #0af; }

.ball.helper {
    cursor: pointer;
    z-index: 3;
}

.ball.helper div { border: 2px solid #a50; }
